.input-amount-window-button {
    width: 78px;
    margin-right: 4px;
    margin-left: 4px;
}

.input-amount-window-button-box {
    height: 40px;
    align-self: center;
    flex-direction: row;
    padding-top: 6px;
}

.input-amount-window-content {
    margin-left: 6px;
    font-size: 11px;
    white-space: normal;
}

.input-amount-window-content-label {
    margin: 0;
    padding: 0;
    font-size: 11px;
    white-space: normal;
    flex-grow: 1;
    flex-shrink: 1;
}

.input-amount-window-icon {
    width: 32px;
    height: 32px;
    background-image: resource('Data/UI/Assets/Confirm/ICON_DF_Exclamation');
}

.input-amount-window-icon-container {
    width: 32px;
    flex-shrink: 0;
}

.input-amount-window-content-container {
    flex-grow: 1;
    flex-direction: row;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-left-color: rgba(87, 70, 35, 0.57);
    border-right-color: rgba(87, 70, 35, 0.57);
    border-top-color: rgba(87, 70, 35, 0.57);
    border-bottom-color: rgba(87, 70, 35, 0.57);
}

.input-amount-window {
    position: absolute;
    flex-direction: row;
}

.input-amount-window-main {
    flex-grow: 1;
    width: 320px;
    height: 145px;
    background-image: resource('Data/UI/Assets/Windows/Windows_DF_Drawer_Bg_Darker');
    -unity-slice-left: 12;
    -unity-slice-top: 12;
    -unity-slice-right: 12;
    -unity-slice-bottom: 12;
}

.input-amount-window-side {
    flex-grow: 1;
    width: 145px;
    height: 145px;
    background-image: resource('Data/UI/Assets/Windows/Windows_DF_Drawer_Bg_Darker');
    -unity-slice-left: 12;
    -unity-slice-top: 12;
    -unity-slice-right: 12;
    -unity-slice-bottom: 12;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
}

.input-amount-window-side .l2-flex-button {
    flex-grow: 1;
    justify-content: center;
}

.input-amount-window .input-amount-window-main .l2-flex-button .l2-flex-button-label {
    padding-top: 5px;
    padding-bottom: 5px;
}

.input-amount-window-number {
    width: 30px;
    height: 28px;
}

.input-amount-window-number-all {
    width: 60px;
    height: 28px;
}

.input-amount-window-number .l2-flex-button {
    padding: 0;
    margin: 0;
}

.input-amount-window-number .l2-flex-button-label {
    padding: 0;
    margin: 0;
}

.input-amount-window-number-vertical {
    width: 30px;
    height: 56px;
}

.input-amount-window-number-vertical .l2-flex-button {
    padding: 0;
    margin: 0;
}

.input-amount-window-number-vertical .l2-flex-button-label {
    padding: 0;
    margin: 0;
}

.input-amount-window-amount {
    margin-bottom: 10px;
    width: 180px;
    margin-left: 14px;
}
