
.arrow {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    width: 18px;
    height: 18px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-image: resource('Data/UI/Assets/Scrollbar/ScrollBarLeftBtn');
    background-color: rgba(188, 188, 188, 0);
}

.arrow-input {
    flex-grow: 1;
    flex-direction: row;
    height: 18px;
    flex-shrink: 0;
}

.arrow-input .l2-input-field-template {
    flex-grow: 1;
}

.arrow-input .l2-input-field-template .unity-label {
    flex-grow: 0;
    width: 62px;
    margin-right: 0;
    padding-right: 8px;
    flex-shrink: 0;
    font-size: 12px;
    color: rgb(220, 220, 220);
}

.arrows-container {
    flex-grow: 0;
    height: 18px;
    white-space: normal;
    flex-direction: row;
}

.arrow-input {
    margin-top: 5px;
}

.arrow {
    background-image: none;
    width: 20px;
    height: 20px;
    overflow: visible;
}

.arrow-bg {
    flex-grow: 1;
    position: absolute;
    width: 40px;
    height: 40px;
}

.arrow-right .arrow-bg {
    background-image: resource('Data/UI/Assets/Button/24Hz_DF_ChannelControlBtn_Next');
}

.arrow-right:active .arrow-bg {
    background-image: resource('Data/UI/Assets/Button/24Hz_DF_ChannelControlBtn_Next_Down');
}

.arrow-right:active:hover .arrow-bg {
    background-image: resource('Data/UI/Assets/Button/24Hz_DF_ChannelControlBtn_Next_Down');
}

.arrow-right:hover .arrow-bg {
    background-image: resource('Data/UI/Assets/Button/24Hz_DF_ChannelControlBtn_Next_Over');
}

.arrow-left .arrow-bg {
    background-image: resource('Data/UI/Assets/Button/24Hz_DF_ChannelControlBtn_Pre');
}

.arrow-left:active .arrow-bg {
    background-image: resource('Data/UI/Assets/Button/24Hz_DF_ChannelControlBtn_Pre_Down');
}

.arrow-left:active:hover .arrow-bg {
    background-image: resource('Data/UI/Assets/Button/24Hz_DF_ChannelControlBtn_Pre_Down');
}

.arrow-left:hover .arrow-bg {
    background-image: resource('Data/UI/Assets/Button/24Hz_DF_ChannelControlBtn_Pre_Over');
}

.arrow-bg {
    height: 20px;
    width: 20px;
}
