.char-select-col {
    flex-grow: 1;
    flex-direction: row;
    height: 15px;
    width: 50%;
    align-items: center;
    padding-right: 4px;
    padding-left: 16px;
}

.char-select-col-right {
    padding-right: 16px;
    padding-left: 4px;
}

.char-select-col-2 {
    flex-grow: 1;
    flex-direction: row;
    height: 15px;
    width: 50%;
    align-items: center;
    padding-right: 4px;
    padding-left: 16px;
}

.char-select-row {
    flex-grow: 0;
    flex-direction: row;
    height: 14px;
}

.char-select-label {
    width: 40px;
    font-size: 12px;
    width: 30px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    -unity-font: resource('Data/UI/Assets/Font/tahoma');
}

.char-select-window {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    flex-direction: row;
}

.charselect-col-1 {
    flex-grow: 1;
    width: 33.3%;
    max-width: 33.3%;
    min-width: 33.3%;
    align-items: flex-start;
}

.charselect-col-2 {
    flex-grow: 1;
    width: 33.3%;
    min-width: 33.3%;
    max-width: 33.3%;
    flex-direction: column-reverse;
}

.charselect-col-3 {
    flex-grow: 1;
    flex-direction: row-reverse;
    align-self: auto;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 33.3%;
    max-width: 33.3%;
    min-width: 33.3%;
}

.char-select-row .arrow-label {
    width: 38px;
    color: rgb(165, 143, 113);
}

.char-select-row .arrow-label label {
    width: 38px;
    color: rgb(165, 143, 113);
}

.char-select-side-menu {
    flex-grow: 0;
    width: 109px;
    height: auto;
    flex-shrink: 0;
    background-image: resource('Data/UI/Assets/Windows/Windows_DF_Drawer_Bg_Darker');
    -unity-slice-bottom: 10;
    -unity-slice-left: 27;
    -unity-slice-top: 10;
    -unity-slice-right: 20;
    margin-right: 20px;
    margin-left: 0;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 12px;
    padding-left: 5px;
    margin-top: 0;
    margin-bottom: 30px;
    align-self: flex-end;
}

.char-select-side-menu .l2-flex-button-label {
    padding-top: 6px;
    padding-bottom: 6px;
}

.char-select-side-menu #ReloginButton {
    margin-top: 25px;
}

.char-select-window #StartButton .l2-flex-button-label {
    padding-top: 10px;
    padding-bottom: 10px;
}

.char-select-window #StartButton {
    width: 92px;
    margin-bottom: 0;
}

.char-select-middle-box {
    flex-grow: 0;
    width: auto;
    height: auto;
    flex-shrink: 0;
    background-image: resource('Data/UI/Assets/Windows/Windows_DF_Drawer_Bg_Darker');
    -unity-slice-bottom: 10;
    -unity-slice-left: 27;
    -unity-slice-top: 10;
    -unity-slice-right: 20;
    margin-right: auto;
    margin-left: auto;
    padding-top: 6px;
    padding-right: 5px;
    padding-bottom: 8px;
    padding-left: 5px;
    margin-bottom: 40px;
    flex-wrap: nowrap;
}

.char-select-detail-window {
    flex-grow: 0;
    width: 300px;
    height: auto;
    flex-shrink: 0;
    background-image: resource('Data/UI/Assets/Windows/Windows_DF_Drawer_Bg_Darker');
    -unity-slice-bottom: 10;
    -unity-slice-left: 27;
    -unity-slice-top: 10;
    -unity-slice-right: 20;
    margin-right: 0;
    margin-left: 14px;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 12px;
    padding-left: 5px;
    margin-bottom: 0;
    flex-wrap: nowrap;
    margin-top: 14px;
}

.char-select-level-l {
    width: 18px;
}

.char-select-level {
    width: 20px;
}

.char-select-class {
    width: auto;
    flex-grow: 1;
}

.char-select-detail-numbers {
    height: 14px;
    flex-direction: row;
    flex-grow: 1;
    -unity-text-align: upper-left;
    justify-content: flex-start;
    align-items: auto;
}

.char-select-detail-numbers-bg {
    flex-grow: 1;
    position: absolute;
    width: 106%;
    height: 21px;
}

.char-select-detail-numbers-label {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 4px;
    padding-bottom: 0;
    padding-left: 0;
    align-self: auto;
    flex-grow: 1;
    font-size: 12px;
    -unity-font-definition: resource('Data/UI/Assets/Font/tahoma');
    -unity-text-align: middle-right;
}

.char-select-user-select-container {
    width: 50%;
    padding-right: 4px;
    padding-left: 16px;
    height: auto;
}