.confirm-window-button {
    width: 78px;
    margin-right: 4px;
    margin-left: 4px;
}

.confirm-window-button-box {
    height: 40px;
    align-self: center;
    flex-direction: row;
    padding-top: 6px;
}

.confirm-window-content {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 6px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    font-size: 11px;
    white-space: normal;
    flex-grow: 0;
    flex-shrink: 1;
}

.confirm-window-icon {
    width: 32px;
    height: 32px;
    background-image: resource('Data/UI/Assets/Confirm/ICON_DF_Exclamation');
}

.confirm-window-icon-container {
    width: 32px;
    flex-shrink: 0;
}

.confirm-window-content-container {
    flex-grow: 1;
    flex-direction: row;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-left-color: rgba(87, 70, 35, 0.57);
    border-right-color: rgba(87, 70, 35, 0.57);
    border-top-color: rgba(87, 70, 35, 0.57);
    border-bottom-color: rgba(87, 70, 35, 0.57);
}

.confirm-window {
    flex-grow: 1;
    position: absolute;
    width: 320px;
    height: 145px;
    background-image: resource('Data/UI/Assets/Windows/Windows_DF_Drawer_Bg_Darker');
    -unity-slice-left: 12;
    -unity-slice-top: 12;
    -unity-slice-right: 12;
    -unity-slice-bottom: 12;
}

.confirm-window .l2-flex-button .l2-flex-button-label {
    padding-top: 5px;
    padding-bottom: 5px;
}
