.exit-window {
    width: 240px;
    height: 340px;
    position: absolute;
}

.exit-window-content {
    flex-grow: 1;
    position: absolute;
    left: 15px;
    top: 48px;
}

.exit-window-info-container {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    position: relative;
    left: 0;
    top: 0;
    width: 210px;
    height: 215px;
    background-color: rgba(0, 0, 0, 0.34);
}

.exit-window-container-wrapper {
    flex-grow: 1;
    margin-top: 4px;
    margin-right: 6px;
    margin-bottom: 4px;
    margin-left: 6px;
    position: relative;
}

.exit-window-info-bg {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    background-image: resource('Data/UI/Assets/Windows/refinewnd_back_Pattern_clear_resized');
    align-self: flex-start;
    -unity-slice-left: 41;
    -unity-slice-top: 41;
    -unity-slice-right: 41;
    -unity-slice-bottom: 41;
    -unity-slice-scale: 1px;
    display: flex;
    visibility: visible;
    overflow: visible;
    position: absolute;
    height: 100%;
    flex-grow: 0;
    width: 100%;
    -unity-background-scale-mode: stretch-to-fill;
    opacity: 0.6;
}

.exit-window-info-inner {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-grow: 1;
}

.exit-window-label {
    -unity-background-image-tint-color: rgb(56, 56, 56);
    color: rgb(223, 222, 222);
    font-size: 11px;
    -unity-text-outline-width: 0.1px;
    margin-top: 16px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    -unity-font-style: normal;
    align-self: flex-start;
    justify-content: center;
    -unity-font: initial;
    flex-grow: 0;
    width: 100%;
    -unity-text-align: upper-center;
}

.exit-window-info-text-container {
    width: 174px;
    height: 124px;
    background-image: none;
    -unity-slice-left: 9;
    -unity-slice-top: 9;
    -unity-slice-right: 9;
    -unity-slice-bottom: 9;
    -unity-slice-scale: 1px;
    opacity: 0.95;
    margin-top: 12px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.16);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-left-color: rgba(89, 89, 89, 0.18);
    border-right-color: rgba(89, 89, 89, 0.18);
    border-top-color: rgba(89, 89, 89, 0.18);
    border-bottom-color: rgba(89, 89, 89, 0.18);
}

.exit-window-info-row {
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.exit-window-info-row-title {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    align-self: center;
    font-size: 11px;
    -unity-text-outline-width: 0.1px;
    -unity-font: resource('Data/UI/Assets/Font/tahoma');
    letter-spacing: 4px;
}

.exit-window-info-row-value {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    align-self: center;
    font-size: 11px;
    -unity-text-outline-width: 0.1px;
    text-shadow: 0.5px 0.5px 3px rgb(0, 0, 0);
}

.exit-window .initialize-button {
    width: 64px;
    margin-top: 6px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    align-self: center;
}

.exit-window .initialize-button .l2-flex-button-label {
    padding-top: 5px;
    padding-bottom: 5px;
}

.exit-window-buttons {
    margin-top: 4px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    position: relative;
}

.exit-window #CancelButton {
    margin-top: 0px;
}

.exit-window #RestartButton #Icon {
    background-image: resource('Data/UI/Assets/Menu/Icon_df_SystemMenuWnd_ReStart_clear');
}

.exit-window #ExitButton #Icon {
    background-image: resource('Data/UI/Assets/Menu/icon_power_menu');
}