.buff-window {
    margin: 0;
    padding: 0;
    flex-direction: row;
    position: absolute;
}

.buff-frame {
    height: 100%;
    margin: 0 0 3px 0;
    padding: 0;
    align-self: flex-start;
    flex-direction: row;
}

.buff-container {
    margin: 3px 0 0 1px;
    padding: 0;
    min-height: 10px;
    flex-grow: 1; 
    -unity-slice-left: 3; 
    -unity-slice-top: 3; 
    -unity-slice-right: 3;
    -unity-slice-bottom: 3;
    -unity-slice-scale: 0.9px;
}

.buff-duration {
    margin: 0; 
    padding: 0; 
    color: rgba(210, 210, 210, 0.8);
    letter-spacing: 20px; 
    align-self: center; 
    font-size: 14px;
    position: absolute;
    padding-bottom: 1px;
    display: none;
}

.buff-row {
    padding: 0;
    flex-direction: row;
    max-width: 336px;
}

.buff-slot {
    width: 28px; 
    height: 28px; 
    max-width: 28px; 
    max-height: 28px; 
    -unity-background-image-tint-color: rgb(255, 235, 182); 
    border-color: rgba(0, 0, 0, 0.65); 
    justify-content: flex-end;
}

.fade-low {
    opacity: 0.4;
    transition: opacity 2s ease-in-out;
}

.fade-high {
    opacity: 0.9;
    transition: opacity 2s ease-in-out;
}
