
.menu-window {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    background-color: rgba(0, 0, 0, 0);
    transform-origin: left top;
    max-height: 90px;
    flex-grow: 0;
    flex-shrink: 1;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: auto;
    max-width: 168px;
}

.menu-btn {
    flex-direction: column;
    margin-top: 3px;
    margin-right: 2px;
    margin-bottom: 0;
    margin-left: 2px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 36px;
    height: 36px;
    background-image: none;
    -unity-slice-left: 0;
    -unity-slice-top: 0;
    -unity-slice-right: 0;
    -unity-slice-bottom: 0;
    -unity-slice-scale: 1px;
    -unity-background-scale-mode: scale-to-fit;
    background-color: rgba(188, 188, 188, 0);
}

.menu-window-container {
    flex-grow: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    flex-shrink: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-left-color: rgb(72, 65, 47);
    border-right-color: rgb(72, 65, 47);
    border-top-color: rgb(72, 65, 47);
    border-bottom-color: rgb(72, 65, 47);
    overflow: hidden;
    width: 167px;
    background-color: rgba(19, 19, 19, 0);
    background-image: none;
    -unity-slice-left: 11;
    -unity-slice-top: 11;
    -unity-slice-right: 11;
    -unity-slice-bottom: 11;
    -unity-slice-scale: 0.3px;
    height: 87px;
}

.menu-window-bg {
    flex-grow: 1;
    background-image: resource('Data/UI/Assets/Menu/Menu_I1');
    height: 119px;
    width: 1012px;
    -unity-slice-scale: 0.4px;
    position: absolute;
    left: 1px;
}

#CharacterButton .menu-button-bg {
    background-image: resource('Data/UI/Assets/Menu/Icon_DF_MenuWnd_Character');
}

#CharacterButton:active .menu-button-bg {
    background-image: resource('Data/UI/Assets/Menu/Icon_DF_MenuWnd_Character_Down');
}

#CharacterButton:active:hover .menu-button-bg {
    background-image: resource('Data/UI/Assets/Menu/Icon_DF_MenuWnd_Character_Down');
}

#CharacterButton:hover .menu-button-bg {
    background-image: resource('Data/UI/Assets/Menu/Icon_DF_MenuWnd_Character_Over');
}

#InventoryButton .menu-button-bg {
    background-image: resource('Data/UI/Assets/Menu/Icon_DF_MenuWnd_Inventory');
}

#InventoryButton:active .menu-button-bg {
    background-image: resource('Data/UI/Assets/Menu/Icon_DF_MenuWnd_Inventory_Down');
}

#InventoryButton:active:hover .menu-button-bg {
    background-image: resource('Data/UI/Assets/Menu/Icon_DF_MenuWnd_Inventory_Down');
}

#InventoryButton:hover .menu-button-bg {
    background-image: resource('Data/UI/Assets/Menu/Icon_DF_MenuWnd_Inventory_Over');
}

#ActionButton .menu-button-bg {
    background-image: resource('Data/UI/Assets/Menu/Icon_DF_MenuWnd_Action');
}

#ActionButton:active .menu-button-bg {
    background-image: resource('Data/UI/Assets/Menu/Icon_DF_MenuWnd_Action_Down');
}

#ActionButton:active:hover .menu-button-bg {
    background-image: resource('Data/UI/Assets/Menu/Icon_DF_MenuWnd_Action_Down');
}

#ActionButton:hover .menu-button-bg {
    background-image: resource('Data/UI/Assets/Menu/Icon_DF_MenuWnd_Action_Over');
}

#SkillButton .menu-button-bg {
    background-image: resource('Data/UI/Assets/Menu/Icon_DF_MenuWnd_Skill');
}

#SkillButton:active .menu-button-bg {
    background-image: resource('Data/UI/Assets/Menu/Icon_DF_MenuWnd_Skill_Down');
}

#SkillButton:active:hover .menu-button-bg {
    background-image: resource('Data/UI/Assets/Menu/Icon_DF_MenuWnd_Skill_Down');
}

#SkillButton:hover .menu-button-bg {
    background-image: resource('Data/UI/Assets/Menu/Icon_DF_MenuWnd_Skill_Over');
}

#QuestButton .menu-button-bg {
    background-image: resource('Data/UI/Assets/Menu/Icon_DF_MenuWnd_Quest');
}

#QuestButton:active .menu-button-bg {
    background-image: resource('Data/UI/Assets/Menu/Icon_DF_MenuWnd_Quest_Down');
}

#QuestButton:active:hover .menu-button-bg {
    background-image: resource('Data/UI/Assets/Menu/Icon_DF_MenuWnd_Quest_Down');
}

#QuestButton:hover .menu-button-bg {
    background-image: resource('Data/UI/Assets/Menu/Icon_DF_MenuWnd_Quest_Over');
}

#ClanButton .menu-button-bg {
    background-image: resource('Data/UI/Assets/Menu/Icon_DF_MenuWnd_Clan');
}

#ClanButton:active .menu-button-bg {
    background-image: resource('Data/UI/Assets/Menu/Icon_DF_MenuWnd_Clan_Down');
}

#ClanButton:active:hover .menu-button-bg {
    background-image: resource('Data/UI/Assets/Menu/Icon_DF_MenuWnd_Clan_Down');
}

#ClanButton:hover .menu-button-bg {
    background-image: resource('Data/UI/Assets/Menu/Icon_DF_MenuWnd_Clan_Over');
}

#MapButton .menu-button-bg {
    background-image: resource('Data/UI/Assets/Menu/Icon_DF_MenuWnd_Map');
}

#MapButton:active .menu-button-bg {
    background-image: resource('Data/UI/Assets/Menu/Icon_DF_MenuWnd_Map_Down');
}

#MapButton:active:hover .menu-button-bg {
    background-image: resource('Data/UI/Assets/Menu/Icon_DF_MenuWnd_Map_Down');
}

#MapButton:hover .menu-button-bg {
    background-image: resource('Data/UI/Assets/Menu/Icon_DF_MenuWnd_Map_Over');
}

#SystemMenuButton .menu-button-bg {
    background-image: resource('Data/UI/Assets/Menu/Icon_DF_MenuWnd_SystemMenu');
}

#SystemMenuButton:active .menu-button-bg {
    background-image: resource('Data/UI/Assets/Menu/Icon_DF_MenuWnd_SystemMenu_Down');
}

#SystemMenuButton:active:hover .menu-button-bg {
    background-image: resource('Data/UI/Assets/Menu/Icon_DF_MenuWnd_SystemMenu_Down');
}

#SystemMenuButton:hover .menu-button-bg {
    background-image: resource('Data/UI/Assets/Menu/Icon_DF_MenuWnd_SystemMenu_Over');
}

.menu-btn {
    display: flex;
}

.menu-btn-grp {
    margin-top: 5px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 6px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    flex-grow: 0;
    height: auto;
    flex-direction: row;
    flex-shrink: 0;
    flex-wrap: wrap;
    width: 161px;
    overflow: visible;
    display: flex;
    opacity: 1;
}
