.shop-window {
    width: 522px;
    height: 450px;
    position: absolute;
    font-size: 11px;
}

.shop-window .transparent-cursor {
    --unity-cursor-color: rgba(0, 0, 0, 0);
}

.shop-window .l2-flex-button {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 11;
}

.shop-window .l2-input-field {
    margin-top: 2;
    margin-left: 5;
    margin-right: 5;
    margin-bottom: 0;
    font-size: 11px;
}

.shop-window-content-container {
    flex-grow: 1;
    position: absolute;
    width: 514px;
    height: 410px;
    top: 38px;
    left: 4px;
    padding-top: 0;
    padding-right: 6px;
    padding-left: 8px;
    padding-bottom: 8px;
}

.shop-window .l2-scroll-view .unity-scroll-view__content-and-vertical-scroll-container {
    flex-direction: row;
}

.shop-window .unity-scroll-view {
    font-size: 12px;
}

.shop-window .unity-base-slider__dragger-border {
    border-width: 0;
    margin: 0;
    padding: 0;
}

.shop-window .unity-disabled {
    opacity: 1;
}

.shop-window .l2-scroll-view .unity-scroller {
    width: 14px;
    margin-right: 2px;
    margin-left: 2px;
}

.shop-content {
    flex-grow: 0;
    min-width: auto;
    min-height: auto;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    background-image: none;
    top: 0;
    left: 0;
    display: flex;
    visibility: visible;
    overflow: visible;
    flex-shrink: 0;
    width: 100%;
    padding-top: 0;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 38px;
    height: 372px;
}

.shop-content-container {
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.shop-content-container-inner {
    position: relative;
    left: 0;
    top: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    flex-direction: row;
    align-self: stretch;
    flex-grow: 1;
    padding-right: 0;
}

.shop-item-footer {
    margin-top: 4px;
    margin-right: 0;
    margin-bottom: 2px;
    margin-left: 0;
    padding-top: 3px;
    padding-bottom: 0;
    padding-left: 0;
    height: 44px;
    flex-direction: row;
    flex-grow: 0;
    padding-right: 0;
    background-color: rgba(0, 0, 0, 0.35);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-color: rgba(111, 111, 111, 0.14);
}

.shop-button-bg {
    flex-grow: 1;
    width: 64px;
    height: 64px;
    top: -2px;
}

.item-statistics-container {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 4px;
    flex-direction: column;
    align-self: stretch;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 11px;
    padding-right: 4px;
}

.item-statistic-icons {
    flex-direction: column;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    left: 10px;
}

.item-statistic-icon {
    flex-grow: 1;
    width: 32px;
    height: 16px;
    max-width: 32px;
    max-height: 16px;
    margin-top: 2px;
}

.icon-adena {
    background-image: resource('Data/UI/Assets/Inventory/icon_df_common_adena');
}

.icon-bag {
    background-image: resource('Data/UI/Assets/Inventory/icon_df_common_weight');
}

.item-statistic-gauges {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    flex-grow: 1;
    min-width: 128px;
    max-width: 128px;
}

.shop-tab {
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: column;
}

.shop-small-tab-container {
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: row;
}

.shop-button-bar {
    flex-grow: 0;
    flex-direction: row;
    justify-content: center;
    height: 34px;
    padding-top: 4px;
}

.shop-button {
    width: 80px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 4px;
    margin-right: 4px;
}

.shop-button .l2-flex-button-label {
    padding-top: 6px;
    padding-bottom: 6px;
}

.shop-divider {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 3px;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    width: 4px;
    background-image: resource('Data/UI/Assets/CharInfo/Divider_DF_Ver');
}

.shop-statistic-icon {
    width: 18px;
    max-width: 18px;
    margin-right: 4px;
}

.shop-statistic-label {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    flex-grow: 1;
    width: 40px;
}

.shop-statistic-gauge {
    flex-grow: 0;
    max-width: 128px;
    width: 128px;
}

.small-tab-container-inner {
    flex-grow: 1;
    margin-right: 8px;
    flex-shrink: 0;
    width: 240px;
    max-width: 240px;
}

.shop-statistic-row {
    flex-grow: 0;
    flex-direction: row;
    align-items: center;
    height: 18px;
}

.shop-window-arrow {
    flex-grow: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: resource('Data/UI/Assets/ShopWnd/ShopWnd_DF_Arrow');
    width: 28px;
    height: 64px;
    translate: -50% -25%;
    opacity: 0.5;
}

.shop-window .l2-tab-view #unity-content-container {
    height: 100px;
}