.action-window-content {
    flex-grow: 1;
    position: absolute;
    flex-shrink: 0;
    left: 14px;
    top: 46px;
    width: 288px;
}

.action-window-category {
    flex-grow: 1;
}

.action-window-category-title {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 8px;
    font-size: 11px;
}

.action-window-category-slots {
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
}