.action-window-content {
    flex-grow: 1;
    position: absolute;
    flex-shrink: 0;
    left: 12px;
    top: 46px;
    width: 290px;
}

.action-window-category {
    flex-grow: 1;
}

.action-window-category-title {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 8px;
    font-size: 12px;
}

.action-window-category-slots {
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
}

.action-window .l2-slot-container .l2-slot-container-label {
    display: none;
}

.action-window .unity-scroller {
    display: none;
    margin: 0;
    padding: 0;
    max-width: 0;
    max-height: 0;
    opacity: 0;
}

.action-window .l2-slot-container #unity-content-viewport {
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 0;
}

.action-window .l2-slot-container .l2-scroll-view {
    background-color: transparent;
}