.l2-bar {
    height: 14px;
    flex-direction: row;
    flex-grow: 1;
}

.l2-bar-label {
    -unity-font: resource('Data/UI/Assets/Font/tahoma');
    -unity-text-outline-color: black;
    -unity-text-align: middle-center;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: rgb(220, 220, 220);
    height: 11px;
    letter-spacing: 7px;
    -unity-font-style: bold;
    -unity-text-outline-width: 0.8px;
    text-shadow: 0.9px 0.9px 3px rgb(0, 0, 0);
}

.l2-bar-side-ele {
    max-width: 4px;
    min-width: 4px;
}

.l2-bar-center-ele {
    flex-grow: 1;
}

.l2-bar-container {
    min-height: 16px;
    max-height: 16px;
    flex-direction: row;
    flex: 0;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.l2-bar .l2-bar-bg .l2-bar-left {
    background-image: resource('Data/UI/Assets/Status/Gauge/Gauge_DF_Large_HP/Gauge_DF_Large_HP_bg_Left');
}
.l2-bar .l2-bar-bg .l2-bar-center {
    background-image: resource('Data/UI/Assets/Status/Gauge/Gauge_DF_Large_HP/Gauge_DF_Large_HP_bg_Center');
}
.l2-bar .l2-bar-bg .l2-bar-right {
    background-image: resource('Data/UI/Assets/Status/Gauge/Gauge_DF_Large_HP/Gauge_DF_Large_HP_bg_Right');
}

.l2-bar .l2-bar-front .l2-bar-left {
    background-image: resource('Data/UI/Assets/Status/Gauge/Gauge_DF_Large_HP/Gauge_DF_Large_HP_Left');
}
.l2-bar .l2-bar-front .l2-bar-center {
    background-image: resource('Data/UI/Assets/Status/Gauge/Gauge_DF_Large_HP/Gauge_DF_Large_HP_Center');
}
.l2-bar .l2-bar-front .l2-bar-right {
    background-image: resource('Data/UI/Assets/Status/Gauge/Gauge_DF_Large_HP/Gauge_DF_Large_HP_Right');
}

.l2-bar.mp .l2-bar-bg .l2-bar-left {
    background-image: resource('Data/UI/Assets/Status/Gauge/Gauge_DF_Large_MP/Gauge_DF_Large_MP_bg_Left');
}
.l2-bar.mp .l2-bar-bg .l2-bar-center {
    background-image: resource('Data/UI/Assets/Status/Gauge/Gauge_DF_Large_MP/Gauge_DF_Large_MP_bg_Center');
}
.l2-bar.mp .l2-bar-bg .l2-bar-right {
    background-image: resource('Data/UI/Assets/Status/Gauge/Gauge_DF_Large_MP/Gauge_DF_Large_MP_bg_Right');
}

.l2-bar.mp .l2-bar-front .l2-bar-left {
    background-image: resource('Data/UI/Assets/Status/Gauge/Gauge_DF_Large_MP/Gauge_DF_Large_MP_Left');
}
.l2-bar.mp .l2-bar-front .l2-bar-center {
    background-image: resource('Data/UI/Assets/Status/Gauge/Gauge_DF_Large_MP/Gauge_DF_Large_MP_Center');
}
.l2-bar.mp .l2-bar-front .l2-bar-right {
    background-image: resource('Data/UI/Assets/Status/Gauge/Gauge_DF_Large_MP/Gauge_DF_Large_MP_Right');
}

.l2-bar.cp .l2-bar-bg .l2-bar-left {
    background-image: resource('Data/UI/Assets/Status/Gauge/Gauge_DF_Large_CP/Gauge_DF_Large_CP_bg_Left');
}
.l2-bar.cp .l2-bar-bg .l2-bar-center {
    background-image: resource('Data/UI/Assets/Status/Gauge/Gauge_DF_Large_CP/Gauge_DF_Large_CP_bg_Center');
}
.l2-bar.cp .l2-bar-bg  .l2-bar-right {
    background-image: resource('Data/UI/Assets/Status/Gauge/Gauge_DF_Large_CP/Gauge_DF_Large_CP_bg_Right');
}

.l2-bar.cp .l2-bar-front .l2-bar-left {
    background-image: resource('Data/UI/Assets/Status/Gauge/Gauge_DF_Large_CP/Gauge_DF_Large_CP_Left');
}
.l2-bar.cp .l2-bar-front .l2-bar-center {
    background-image: resource('Data/UI/Assets/Status/Gauge/Gauge_DF_Large_CP/Gauge_DF_Large_CP_Center');
}
.l2-bar.cp .l2-bar-front .l2-bar-right {
    background-image: resource('Data/UI/Assets/Status/Gauge/Gauge_DF_Large_CP/Gauge_DF_Large_CP_Right');
}
