
.status-window .bar-label-name {
    -unity-font-definition: url("project://database/Assets/UnityDefaultRuntimeTheme.tss?fileID=2230732570650464555&guid=d0574adf4789ced4cad784e4fd3123bd&type=3#NotInter-Regular");
    margin: 0;
    position: absolute;
    left: 10px;
    height: 11px;
    letter-spacing: -7px;
    font-size: 12px;
}

.status-window {
    position: absolute;
    width: 176px;
    align-self: auto;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 0;
    margin-right: -1px;
    margin-bottom: -1px;
    margin-left: -2px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    background-color: rgba(0, 0, 0, 0);
    transform-origin: left top;
    min-width: 175px;
    max-width: 400px;
    left: 0;
}

.status-window-drag {
    height: 103%;
    width: 18px;
    max-width: 18px;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: auto;
    -unity-background-scale-mode: stretch-to-fill;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    flex-shrink: 0;
}

.status-window-bg {
    flex-grow: 1;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 4px;
    padding-right: 3px;
    padding-bottom: 2px;
    padding-left: 3px;
    flex-direction: column;
    background-color: rgba(19, 19, 19, 0.89);
}

.status-window-size-control {
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 5px;
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: auto;
    margin-right: 0;
    margin-left: -2px;
    padding-top: 0;
    padding-bottom: 0;
    flex-basis: auto;
    padding-right: 0;
    padding-left: 0;
    background-image: resource('Data/UI/Assets/Frame/Frame_DF_Ver/ps_sizecontrol1');
    -unity-slice-scale: 1px;
    -unity-slice-top: 3;
    -unity-slice-bottom: 3;
    -unity-slice-right: 0;
    -unity-slice-left: 0;
    width: 5px;
    height: 100%;
}

.status-window-resize-handle {
    flex-grow: 1;
    flex-shrink: 0;
    height: 16px;
    max-width: 16px;
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: auto;
    margin-right: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    flex-basis: auto;
    padding-right: 0;
    padding-left: 0;
    background-image: resource('Data/UI/Assets/Frame/Frame_DF_Ver/ps_sizecontrol2');
    -unity-slice-scale: 0;
    -unity-slice-top: 0;
    -unity-slice-bottom: 0;
    -unity-slice-right: 8;
    -unity-slice-left: 0;
    width: 7px;
    max-height: 16px;
    position: absolute;
    top: 5px;
    left: 0;
}

.status-window-row-1 {
    flex-grow: 1;
    font-size: 10px;
    flex-direction: row;
    flex-shrink: 0;
}

.status-window-row-2 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    flex-grow: 1;
    height: auto;
}

.status-window .level-container {
    margin: 0;
    padding: 0;
    width: 22px;
    height: 19px;
    -unity-slice-top: 1;
    -unity-slice-left: 1;
    -unity-slice-bottom: 12;
    -unity-slice-right: 10;
    -unity-slice-scale: 0;
}

.status-window .level-container .unity-label {
    margin: 0;
    padding: 0;
    -unity-text-align: middle-center;
    flex-grow: 1;
    font-size: 10px;
}