.license-window {
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.license-window .l2-scroll-view {
    color: white;
    font-size: 11px;
    background-color: rgba(0,0,0,0.4);
}

.license-window-inner {
    flex-grow: 0;
    width: 540px;
    height: 445px;
    flex-shrink: 0;
    background-image: resource('Data/UI/Assets/Windows/Windows_DF_Drawer_Bg_Darker');
    -unity-slice-bottom: 10;
    -unity-slice-left: 27;
    -unity-slice-top: 10;
    -unity-slice-right: 20;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.license-window-button-container {
    height: 38px;
    margin-top: 4px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.license-window .l2-flex-button {
    width: 80px;
}

.license-window .l2-flex-button .l2-flex-button-label{
    padding-top: 6px;
    padding-bottom: 6px;
}

.license-window .unity-base-slider__tracker:hover:enabled {
    background-color: transparent;
}
