.skill-learn-detail-window {
    width: 280px;
    height: 420px;
}

.skill-learn-detail-content {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: none;
}

.skill-description-detail {
    padding: 0;
    margin: 0;
}

.skill-learn-description-first {
    width: 100%;
    height: 48%;
    font-size: 12px;
    margin: 0;
    padding: 0 6px 0 6px;
    align-self: flex-start;
}

.skill-learn-description-second {
    width: 100%;
    height: 23%;
    font-size: 12px;
    margin: 4px 0 0 0;
    padding: 4px 6px 0 6px;
    align-self: flex-start;
}

.skill-learn-description-third {
    flex-direction: row;
}

.skill-learn-header-detail {
    flex-direction: row;
    align-self: flex-start;
    justify-content: flex-start;
    margin: 0;
}
