.skill-learn-slot {
    flex-direction: row;
    align-self: flex-start;
    justify-content: flex-start;
    height: auto;
}

.skill-learn-slot:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.skill-group .skill-learn-cost {
    flex-direction: row;
    padding-right: 4px;
    margin-top: 3px;
}

.skill-learn-label {
    margin-right: 4px;
}

.skillbar-slot-anchor {
    margin: 4px;
    background-color: black;
}
