.skill-learn-window {
    width: 280px;
    height: 390px;
    position: absolute;
}

.skill-learn-content {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: none;
}

.skill-learn-list-view {
    height: 82%;
    min-height: 82%;
    width: 251px;
}

.skill-group {
    font-size: 12px;
    margin: 0;
    padding: 0;
    align-self: flex-start;
}

.user-sp-group {
    padding: 7px 30px 7px 0;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px 0 0 0;
}

.user-sp-label {
    margin: 0 20px 0 0;
}

.skill-learn-slot {
    flex-direction: row;
    align-self: flex-start;
    justify-content: flex-start;
    height: auto;
}

.skill-group .skill-learn-cost {
    flex-direction: row;
    padding-right: 4px;
    margin-top: 3px;
}

.skill-learn-label {
    margin-right: 4px;
}

.skillbar-slot-anchor {
    margin: 4px;
    background-color: black;
}

.skill-description-detail {
    padding: 0;
    margin: 0;
}

.skill-learn-description-first {
    width: 100%;
    height: 48%;
    font-size: 12px;
    margin: 0;
    padding: 0 6px 0 6px;
    align-self: flex-start;
}

.skill-learn-description-second {
    width: 100%;
    height: 23%;
    font-size: 12px;
    margin: 4px 0 0 0;
    padding: 4px 6px 0 6px;
    align-self: flex-start;
}

.skill-learn-description-third {
    flex-direction: row;
}

.skill-learn-header-detail {
    flex-direction: row;
    align-self: stretch;
    margin: 0;
}

.skill-active-background {
    border-width: 1px;
    border-color: rgba(55, 51, 43, 0.6);
    border-radius: 0.3px;
    background-color: rgba(0, 0, 0, 0.28);
}
