.skill-learn-window {
    width: 280px;
    height: 390px;
    position: absolute;
}

.skill-learn-content {
    width: 251px;
    height: 331px;
    position: absolute;
    background-image: none;
}

.skill-learn-detail-content {
    width: 251px;
    height: 364px;
    position: absolute;
    background-image: none;
    padding-bottom: 10px;
}

.skill-learn-list-view {
    height: 80%;
    min-height: 80%;
    width: 251px;
}

.user-sp-group {
    padding: 4px 30px 4px 0;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px 0 0 0;
}

.user-sp-group .unity-label {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px;
}

.user-sp-label {
    margin: 0 20px 0 0;
}

.skill-learn-window .skillbar-slot-anchor {
    margin: 4px;
    background-color: black;
}

.skill-description-detail {
    padding: 0;
    margin: 0;
}

.skill-learn-description-first {
    width: 100%;
    height: 44%;
    font-size: 12px;
    margin: 0;
    align-self: flex-start;
    padding: 4px;
}

.skill-learn-description-second {
    width: 100%;
    height: 23%;
    font-size: 12px;
    margin: 4px 0 0 0;
    padding: 4px;
    align-self: flex-start;
}

.skill-learn-description-third {
    flex-direction: row;
}

.skill-learn-header-detail {
    flex-direction: row;
    align-self: stretch;
    margin: 0;
}

.skill-active-background {
    border-width: 1px;
    border-color: rgba(55, 51, 43, 0.6);
    border-radius: 0.3px;
    background-color: rgba(0, 0, 0, 0.28);
}

.skill-learn-row {
    flex-direction: row;
    align-self: auto;
    justify-content: flex-start;
    width: auto;
    flex-grow: 1;
    flex-shrink: 0;
}

.skill-learn-row #SkillIcon {
    margin-top: 2px;
    margin-left: 4px;
}

.skill-learn-row-details #SkillName {
    align-self: flex-start;
    justify-content: flex-start;
}

.skill-learn-row-details {
    font-size: 12px;
    margin: 0;
    padding: 0;
    align-self: flex-start;
    margin-left: 2px;
    flex-grow: 1;
}

.skill-learn-row-details .skill-learn-cost {
    flex-direction: row;
    padding-right: 4px;
    margin-top: 3px;
    align-self: flex-start;
    justify-content: flex-start;
}

.skill-learn-window .l2-list-view {
    padding: 0;
}

.skill-learn-window .unity-scroll-view__content-viewport {
    padding: 0;
    margin: 0;
}

.skill-learn-window .unity-scroll-view__content-viewport-vertical {
    padding: 0;
    margin: 0;
    padding-top: 4px;
    padding-left: 4px;
}

.skill-learn-row-details #SkillName {
    margin-top: 6px;
}

.skill-learn-label {
    padding: 0;
    margin-top: 0;
    margin-right: 4px;
}

.skill-learn-detail-content .l2-flex-button {
    width: 72px;
    height: 28px;
    margin-left: 4px;
    margin-right: 4px;
}


.skill-learn-header-description {
    margin-top: 4px;
    margin-bottom: 4px;
}
