.skill-learn-window {
    width: 280px;
    height: 420px;
}

.skill-learn-content {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: none;
}

.skill-active-background {
    margin: 10px 0 0 0;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-left-color: rgba(55, 51, 43, 0.6);
    border-right-color: rgba(55, 51, 43, 0.6);
    border-top-color: rgba(55, 51, 43, 0.6);
    border-bottom-color: rgba(55, 51, 43, 0.6);
    border-top-left-radius: 0.3px;
    border-top-right-radius: 0.3px;
    border-bottom-right-radius: 0.3px;
    border-bottom-left-radius: 0.3px;
    background-color: rgba(0, 0, 0, 0.28);
}

.skill-learn-list-view {
    flex-direction: row;
    align-self: stretch;
    height: 82%;
    min-height: 82%;
    margin: 0px;
}

.skill-learn-list-view #unity-content-container {
    flex-direction: column;
}
.skill-learn-list-view .unity-list-view__item:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.skill-group {
    font-size: 12px;
    margin: 0;
    padding: 0;
    align-self: flex-start;
}

.user-sp-group {
    padding: 7px 30px 7px 0;
    flex-direction: row;
    justify-content: flex-end;
}

.user-sp-label {
    margin: 0 20px 0 0;
}

.skill-learn-slot {
    flex-direction: row;
    align-self: flex-start;
    justify-content: flex-start;
    height: auto;
}

.skill-learn-slot:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.skill-group .skill-learn-cost {
    flex-direction: row;
    padding-right: 4px;
    margin-top: 3px;
}

.skill-learn-label {
    margin-right: 4px;
}

.skillbar-slot-anchor {
    margin: 4px;
    background-color: black;
}

.skill-learn-detail-window {
    width: 280px;
    height: 420px;
}

.skill-learn-detail-content {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: none;
}

.skill-description-detail {
    padding: 0;
    margin: 0;
}

.skill-learn-description-first {
    width: 100%;
    height: 48%;
    font-size: 12px;
    margin: 0;
    padding: 0 6px 0 6px;
    align-self: flex-start;
}

.skill-learn-description-second {
    width: 100%;
    height: 23%;
    font-size: 12px;
    margin: 4px 0 0 0;
    padding: 4px 6px 0 6px;
    align-self: flex-start;
}

.skill-learn-description-third {
    flex-direction: row;
}

.skill-learn-header-detail {
    flex-direction: row;
    align-self: flex-start;
    justify-content: flex-start;
    margin: 0;
}
