.l2-scroll-view {
    flex-grow: 1;
}

.l2-scroll-view .unity-scroll-view__content-viewport {
    margin-top: 6px;
    margin-bottom: 4px;
    padding-left: 4px;
    overflow: hidden;
}

.l2-scroll-view .unity-scroller {
    width: 14px;
    margin-left: 4px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0;
}

.l2-scroll-view .unity-slider {
    margin: 15px 0 15px 0;
}

.l2-scroll-view .unity-base-slider__drag-container {
    background-color: transparent;
    min-width: 14px;
    width: 14px;
    padding: 0;
    border-width: 0;
    border-radius: 0;
}

.l2-scroll-view .unity-slider {
    background-color: transparent;
    min-width: 14px;
    width: 14px;
    padding: 0;
    border-width: 0;
    border-radius: 0;
}

.l2-scroll-view .unity-base-slider__tracker {
    background-color: transparent;
    min-width: 14px;
    width: 14px;
    padding: 0;
    border-width: 0;
    border-radius: 0;
}

.l2-scroll-view .unity-base-slider__dragger {
    min-width: 14px;
    width: 14px;
    margin-left: -3px;
    background-image: resource('Data/UI/Assets/Scrollbar/SliderBar');
    background-color: transparent;
    -unity-slice-top: 0;
    -unity-slice-left: 0;
    -unity-slice-bottom: 2;
    -unity-slice-right: 2;
    -unity-slice-scale: 0;
    border-width: 0;
}

.l2-scroll-view .unity-base-slider__tracker:hover:enabled {
    background-color: transparent;
}

.l2-scroll-view .unity-scroller__high-button {
    background-color: transparent;
    -unity-background-image-tint-color: rgb(255, 255, 255);
    -unity-slice-top: 0;
    -unity-slice-left: 0;
    -unity-slice-bottom: 2;
    -unity-slice-right: 2;
    -unity-slice-scale: 0;
    width: 14px;
    height: 14px;
    border-width: 0;
}

.l2-scroll-view .unity-scroller__low-button {
    background-color: transparent;
    -unity-background-image-tint-color: rgb(255, 255, 255);
    -unity-slice-top: 0;
    -unity-slice-left: 0;
    -unity-slice-bottom: 2;
    -unity-slice-right: 2;
    -unity-slice-scale: 0;
    width: 14px;
    height: 14px;
    border-width: 0;
}

.l2-scroll-view .unity-base-slider__tracker {
}

.l2-scroll-view .unity-scroller__high-button {
    background-image: resource('Data/UI/Assets/Scrollbar/ScrollBarDownBtn');
}

.l2-scroll-view .unity-scroller__high-button:active {
    background-image: resource('Data/UI/Assets/Scrollbar/ScrollBarDownOnBtn');
}

.l2-scroll-view .unity-scroller__high-button:active:hover {
    background-image: resource('Data/UI/Assets/Scrollbar/ScrollBarDownOnBtn');
}

.l2-scroll-view .unity-scroller__high-button:hover {
    background-image: resource('Data/UI/Assets/Scrollbar/scrollbardownbtn_over');
}

.l2-scroll-view .unity-scroller__low-button {
    background-image: resource('Data/UI/Assets/Scrollbar/ScrollBarUpBtn');
}

.l2-scroll-view .unity-scroller__low-button:active {
    background-image: resource('Data/UI/Assets/Scrollbar/ScrollBarUpOnBtn');
}

.l2-scroll-view .unity-scroller__low-button:active:hover {
    background-image: resource('Data/UI/Assets/Scrollbar/ScrollBarUpOnBtn');
}

.l2-scroll-view .unity-scroller__low-button:hover {
    background-image: resource('Data/UI/Assets/Scrollbar/scrollbarupbtn_over');
}
