.l2-input-field {
    -unity-font: resource('Data/UI/Assets/Font/tahoma');
    background-color: rgba(0, 0, 0, 0);
    font-size: 12px;
    margin-left: 6px;
    letter-spacing: 0;
    padding-top: 0;
    margin-bottom: 2px;
    margin-top: 2px;
    overflow: visible;
    margin: 0;
    padding: 0;
    flex-grow: 0;
    border-width: 0;
    -unity-text-align: middle-center;
    height: 18px;
    color: rgb(220, 220, 220);
}

.l2-input-field > .unity-label {
    min-width: 0px;
    -unity-text-align: middle-right;
    margin: 0;
    margin-right: 4px;
}

.l2-input-field #unity-text-input {
    background-color: rgba(0, 0, 0, 0);
    background-image: resource('Data/UI/Assets/Login/CharacterPassword_DF_EditBox_Scaled');
    cursor: resource('Data/UI/Assets/Cursor/Default');
    border-width: 0;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2px;
    padding-right: 2px;
    -unity-slice-left: 10;
    -unity-slice-top: 10;
    -unity-slice-right: 10;
    -unity-slice-bottom: 10;
}

.l2-input-field #unity-text-input.bg-highlight-0 {
    background-image: resource('Data/UI/Assets/Login/CharacterPassword_DF_EditBoxFocus');
}

.l2-input-field #unity-text-input.bg-highlight-1 {
    background-image: resource('Data/UI/Assets/Login/CharacterPassword_DF_EditBoxFocus01');
}

.l2-input-field #unity-text-input.bg-highlight-2 {
    background-image: resource('Data/UI/Assets/Login/CharacterPassword_DF_EditBoxFocus02');
}

.l2-input-field #unity-text-input.bg-highlight-3 {
    background-image: resource('Data/UI/Assets/Login/CharacterPassword_DF_EditBoxFocus03');
}

.l2-input-field #unity-text-input.bg-highlight-4 {
    background-image: resource('Data/UI/Assets/Login/CharacterPassword_DF_EditBoxFocus04');
}

.l2-input-field #unity-text-input.bg-highlight-5 {
    background-image: resource('Data/UI/Assets/Login/CharacterPassword_DF_EditBoxFocus05');
}

.l2-input-field #unity-text-input.bg-highlight-6 {
    background-image: resource('Data/UI/Assets/Login/CharacterPassword_DF_EditBoxFocus06');
}

.l2-input-field #unity-text-input.bg-highlight-7 {
    background-image: resource('Data/UI/Assets/Login/CharacterPassword_DF_EditBoxFocus07');
}

.l2-input-field #unity-text-input.bg-highlight-8 {
    background-image: resource('Data/UI/Assets/Login/CharacterPassword_DF_EditBoxFocus08');
}

.l2-input-field #unity-text-input.bg-highlight-9 {
    background-image: resource('Data/UI/Assets/Login/CharacterPassword_DF_EditBoxFocus09');
}

.l2-input-field #unity-text-input.bg-highlight-10 {
    background-image: resource('Data/UI/Assets/Login/CharacterPassword_DF_EditBoxFocus10');
}

.l2-input-field #unity-text-input.bg-highlight-11 {
    background-image: resource('Data/UI/Assets/Login/CharacterPassword_DF_EditBoxFocus11');
}

.l2-input-field #unity-text-input.bg-highlight-12 {
    background-image: resource('Data/UI/Assets/Login/CharacterPassword_DF_EditBoxFocus12');
}

.l2-input-field #unity-text-input.bg-highlight-13 {
    background-image: resource('Data/UI/Assets/Login/CharacterPassword_DF_EditBoxFocus13');
}

.l2-input-field #unity-text-input.bg-highlight-14 {
    background-image: resource('Data/UI/Assets/Login/CharacterPassword_DF_EditBoxFocus14');
}

.l2-input-field #unity-text-input.bg-highlight-15 {
    background-image: resource('Data/UI/Assets/Login/CharacterPassword_DF_EditBoxFocus15');
}

.l2-input-field #unity-text-input.bg-highlight-16 {
    background-image: resource('Data/UI/Assets/Login/CharacterPassword_DF_EditBoxFocus16');
}

.l2-input-field #unity-text-input.bg-highlight-17 {
    background-image: resource('Data/UI/Assets/Login/CharacterPassword_DF_EditBoxFocus17');
}

.l2-input-field #unity-text-input.bg-highlight-18 {
    background-image: resource('Data/UI/Assets/Login/CharacterPassword_DF_EditBoxFocus18');
}

.l2-input-field #unity-text-input.bg-highlight-19 {
    background-image: resource('Data/UI/Assets/Login/CharacterPassword_DF_EditBoxFocus19');
}