.l2-input-field {
    -unity-font: resource('Data/UI/Assets/Font/tahoma');
    background-color: rgba(0, 0, 0, 0);
    font-size: 12px;
    margin-left: 6px;
    letter-spacing: 0;
    padding-top: 0;
    margin-bottom: 2px;
    margin-top: 2px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    flex-grow: 0;
    border-width: 0;
    -unity-text-align: middle-center;
    height: 18px;
    color: white;
}

.l2-input-field > .unity-label {
    min-width: 0px;
    -unity-text-align: middle-right;
}

.l2-input-field #unity-text-input {
    background-color: rgba(0, 0, 0, 0);
    background-image: resource('Data/UI/Assets/Login/CharacterPassword_DF_EditBox_Scaled');
    border-width: 0;
    margin: 0;
    padding-left: 2px;
    padding-right: 2px;
    -unity-slice-left: 10;
    -unity-slice-top: 10;
    -unity-slice-right: 10;
    -unity-slice-bottom: 10;
}