.restart-location-window {
    flex-grow: 0;
    width: 135px;
    height: 175px;
    flex-shrink: 0;
    background-image: resource('Data/UI/Assets/Windows/Windows_DF_Drawer_Bg_Darker');
    -unity-slice-bottom: 10;
    -unity-slice-left: 27;
    -unity-slice-top: 10;
    -unity-slice-right: 20;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 0;
    padding-left: 12px;
}

.restart-location-window .l2-flex-button {
    display: none;
}

.restart-location-window .l2-flex-button .l2-flex-button-label {
    padding-top: 6px;
    padding-bottom: 6px;
}

.restart-location-window-buttons {
    flex-grow: 1;
    flex-direction: column;
    -unity-text-align: upper-left;
    justify-content: flex-start;
    margin-top: 0;
    flex-shrink: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    align-items: stretch;
    align-self: auto;
}
