.l2-slot-container {
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: column;
}

.l2-slot-container .small-tab-container-inner {
    flex-grow: 1;
    margin-right: 8px;
    flex-shrink: 0;
    width: 240px;
    max-width: 240px;
}

.l2-slot-container .l2-slot-container-label {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 2px;
    font-size: 11px;
    width: 48px;
}

.l2-slot-container .l2-slot-container-scrollview {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.35);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-color: rgba(111, 111, 111, 0.14);
}