
.tooltip-background {
    border-width: 1px;
    border-color: rgba(55, 51, 43, 0.6);
    border-radius: 0.3px;
    background-color: rgba(30, 30, 30, 0.99);
    letter-spacing: 5px;
    max-width: 300px;
    align-self: flex-start;
    align-items: stretch;
}

.skill-tooltip-group {
    margin: 0;
    padding: 0;
}

.skill-tooltip-first {
    width: 170%; 
    flex-direction: row; 
    margin: 3px 3px 0 3px;
    max-height: 36px;
}

.skill-tooltip-second {
    font-size: 9.5px; 
    margin: 0 3px 2px 3px;
    max-height: 64px;
}

.effect-tooltip-section {
    flex-grow: 1; 
    flex-direction: row; 
    font-size: 12px; 
    margin: 4px 3px 0 3px; 
    padding: 0;
}

.effect-tooltip-section > Label {
    margin: 0;
    padding: 0;
}
