.tooltip-background {
    border-width: 1px;
    border-color: rgba(55, 51, 43, 0.6);
    border-radius: 0.3px;
    background-color: rgba(30, 30, 30, 0.99);
    letter-spacing: 5px;
    max-width: 300px;
    align-self: flex-start;
    align-items: stretch;
}

.skill-tooltip-group {
    margin: 0;
    padding: 0;
    font-size: 12px;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-top: 2px;
    padding-bottom: 2px;
}

.skill-tooltip-first {
    flex-direction: row;
    margin: 3px 3px 0 3px;
    max-height: 36px;
    max-height: 36px;
    width: auto;
}

.skill-tooltip-second {
    font-size: 11px;
    margin: 0 3px 2px 3px;
    margin-top: 3px;
}

.effect-tooltip-section {
    flex-grow: 1;
    flex-direction: row;
    font-size: 12px;
    margin: 4px 3px 0 3px;
    padding: 0;
}

.effect-tooltip-section > Label {
    margin: 0;
    padding: 0;
}

.skill-tooltip-group .tooltip-group-label {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.skill-tooltip-group .tooltip-group-value {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 4px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.skill-tooltip-first .unity-label {
    margin: 0;
    padding: 0;
}

.skill-tooltip-first .tooltip-skill-name {
    margin-right: 6px;
    wrap: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-shrink: 1;
}

.skill-tooltip-first .tooltip-skill-level {
    margin-right: 4px;
}

.skill-tooltip-first .tooltip-skill-value {
    margin-right: 0;
}

.toolitp-skill-label-container {
    flex-direction: row;
}

.skill-tooltip-description-container {
    width: 100%;
    margin: 3px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
}
