.l2-list-view {
    flex-direction: column;
    align-self: stretch;
    width: 100%;
    height: 100%;
}

.l2-list-view-active-background {
    border-width: 1px;
    border-color: rgba(55, 51, 43, 0.6);
    border-radius: 0.3px;
    background-color: rgba(0, 0, 0, 0.28);
}

.l2-list-view-item {
    margin-top: 2px;
    width: 97%;
}

.l2-list-view-item:hover {
    background-color: rgba(40, 40, 40, 220);
}

.l2-list-view-item.alternated:hover {
    background-color: rgba(40, 40, 40, 220);
}

.l2-list-view-item.alternated  {
    background-color: rgba(0, 0, 0, 0.3);
}
