.npc-html-window {
    width: 325px;
    height: 420px;
    position: absolute;
}

.npc-html-window {
    font-size: 11px;
}

.npc-html-window .transparent-cursor {
    --unity-cursor-color: rgba(0, 0, 0, 0);
}

.npc-html-window .l2-flex-button {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 11;
}

.npc-html-window .l2-input-field {
    margin-top: 2;
    margin-left: 5;
    margin-right: 5;
    margin-bottom: 0;
    font-size: 11;
}

.html-window-content {
    height: 367px;
    position: absolute;
    width: 308px;
    top: 42px;
    left: 8px;
}

.html-window-label {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    white-space: normal;
}

.npc-html-window .l2-scroll-view {
    overflow: visible;
}

.npc-html-window .l2-scroll-view .unity-scroll-view__content-and-vertical-scroll-container {
    flex-direction: row;
    padding-right: 2px;
}

.npc-html-window .l2-scroll-view .unity-scroll-view__content-viewport {
    margin-top: 0;
    padding: 4px;
}

.npc-html-window .l2-scroll-view .unity-scroll-view__vertical-scroller {
    margin-bottom: 2px;
    margin-top: 1px;
    margin-left: 0px;
    margin-right: 0;
}

.npc-html-window .l2-button {
}

.html-window-content {
    height: auto;
    position: relative;
    left: auto;
    top: auto;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-left-color: rgba(55, 51, 43, 0.6);
    border-right-color: rgba(55, 51, 43, 0.6);
    border-top-color: rgba(55, 51, 43, 0.6);
    border-bottom-color: rgba(55, 51, 43, 0.6);
    border-top-left-radius: 0.3px;
    border-top-right-radius: 0.3px;
    border-bottom-right-radius: 0.3px;
    border-bottom-left-radius: 0.3px;
    background-color: rgba(0, 0, 0, 0.35);
    width: auto;
}

.html-window-content-container {
    flex-grow: 1;
    position: absolute;
    width: 308px;
    height: 372px;
    top: 41px;
    left: 7px;
    padding-top: 4px;
    padding-right: 6px;
    padding-left: 8px;
    padding-bottom: 8px;
}

.html-window-content-wrapper {
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
}

.html-table {
    margin-top: 2;
    margin-right: 0;
    margin-bottom: 2;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 2;
    padding-left: 0;
    align-self: flex-start;
}

.html-row {
    flex-grow: 1;
    min-height: 18px;
    width: auto;
    flex-direction: row;
}

.html-cell {
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
}

.html-wrapper {
    flex-grow: 1;
    width: 100%;
    flex-shrink: 0;
}

.hyperlink-label {
    color: rgb(102, 151, 255);
    -unity-font-style: normal;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

.l2-hyperlink {
    flex-shrink: 1;
    align-self: flex-start;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    background-color: rgba(188, 188, 188, 0);
}

.hyperlink-label {
    letter-spacing: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-size: 12px;
}